:root {
    --gry: #c9c9c7;
    --horizontalMargin: 300px;
    --font: 'Roboto', sans-serif;
}

body {
    background-color: black !important;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: var(--font);
    font-weight: 300;
    font-size: 14px;
    color: white;
}

.shortText {
    padding: 0 calc(var(--horizontalMargin)*4);
    text-align: left;
}

section.footer {
    padding: 0 var(--horizontalMargin);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;

}

.section-nav li.active > a {
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.section-nav {
    padding-left: 0;
    padding-top: 350px;
}


.section-nav a {
    text-decoration: none;
    font-size: 12px;
    display: block;
    padding: .125rem 0;
    color: #c9c9c7;
    transition: all 20ms ease-in-out;
}

.section-nav a:hover,
.section-nav a:focus {
    color: #666;
}


ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 0.5rem;
}

section.footer {
    padding: 0 var(--horizontalMargin);
}

.fullPage {
    height: 100vh;
}

.halfPage {
    height: 300vh;
    width: 300vw;
}

.fullPagePadding {
    padding: 0 25px 0 var(--horizontalMargin);
    width: 100vw;
}

.shortText {
    padding: 0 calc(var(--horizontalMargin)*2);
}

canvas {
    z-index: -3 !important;
}

.introText {
    position: absolute;
    margin-top: -30vh;
    width: 100%;
    z-index: 99 !important;
    text-align: center;
}

#fulltimeline,
#fulltimeline_china,
#shooting {
    height: 80vh;
    width: 100%;
}

.ylxaxis path {
    stroke: none;
    color: white;
}

.ylxaxis text {
    font-family: var(--font);
    color: white;
}

.ylyax path {
    stroke: 1 px;
    color: white;
}

.ylyax text {
    font-family: var(--font);
    color: white;
}

#tooltip {
    position: relative;
    height: 1px;
    width: 200px;
    z-index: 999;
}

.tipp {
    padding: 3px 5px;
    border-radius: 2px;
    background: #393939;
    text-align: center;
}

.tooltiptext {
    color: white;
    font-size: 12px;
    line-height: 1rem;
    margin: 0;
    padding: 0;
}

.tip {
    position: relative;
    top: -20px;
    margin-bottom: -20px;
    fill: #393939;
}

.horizontalscroll {
    overflow-x: scroll;
    overflow-y: hidden;
}

.nodes:hover {
    fill: white !important;
    color: white;
    stroke-width: 3px;
    stroke: white;
}

/*video*/
video {
    object-fit: cover;
    object-position: 0 0;
    transition: all 1s;
}

#video {
    height: 90%;
    width: 100%;
    margin-bottom: 25px;
}

#myVideo {
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 25px;
}

#videoText {
    padding-top: 25px;
}

.story {
    width: 50vw;
}

.videotitle {
    border-right: solid 3px rgba(0, 255, 0, .75);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: rgba(255, 255, 255, .70);
}

/* Animation */
.videotitle {
    animation: animated-text 6s steps(29, end) 1s 1 normal both,
        animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */
@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 300px;
    }
}

/* cursor animations */
@keyframes animated-cursor {
    from {
        border-right-color: red;
    }

    to {
        border-right-color: transparent;
    }
}

/*legend for the map*/
.circle {
    padding-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50px;

    color: #ffaaaa;
    line-height: 100px;
    background: #ff5555;
    display: inline-block;

}

.red-circle {
    background: #DB7F8E;
}

.blue-circle {
    background: #9DA3A4;
}

.legendText {
    font-size: 8px;
}

.bar:hover {
    fill: #FFFFFF;
}

.cursive {
    position: absolute;
    width: 450px;
    left: 44%;
    margin-left: -225px;
    text-align: center;
    height: 40px;
    top: 50%;
    margin-top: -100px;
}

p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    width: 220px;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.t1 {
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: 300 !important;
    margin-bottom: 15px;
    color: red;
}

.t2 {
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: 300 !important;
    margin-bottom: 15px;
    color: white;
}

.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}

.timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: 0.4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: var(--font);
    color: #fff;
}

.timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
}

.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, .07);
}

@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}

.timeline-item {
    padding: 40px 0;
    opacity: 0.3;
    filter: blur(2px);
    transition: 0.5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}

.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
    font-family: var(--font);
    border-left: 2px solid rgba(255, 255, 255, .5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
}

.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, .5);
    padding-right: 15px;
}

.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.timeline-item--active:before {
    top: 50%;
    transition: 0.3s all 0.2s;
    opacity: 1;
}

.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}

@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }

    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }

    .timeline-item:last-child {
        padding-bottom: 40px;
    }
}

.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
}

.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: 0.3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
}

.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    content: "";
}

.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.timeline-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Cardo;
    font-weight: normal;
    margin: 0;
}

.timeline-header__subtitle {
    color: rgba(255, 255, 255, .5);
    font-family: var(--font);
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}
.cname{
  text-decoration: underline;
}
.c1 {
    background: #9E0C3C;
}
.c2 {
    background: #B01135;
}
.c3 {
    background: #CD1B2D;
}
.c4 {
    background: #E82322;
}
.c5 {
    background: #FB291B;
}
.c6{
    background: #ff5555;
}
.c7 {
    background: #ff8080;
}
.c8 {
    background: #ffaaaa;
}
.c9 {
    background: #ffe6e6;
}

